.topArrow{
    position: fixed;
    bottom: 20px;
    right: -40px;
    transition:right 250ms;
    z-index: var(--INDEX_FLOAT_TOPARROW);

    background-color: var(--PRIMARY);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.showArrow {
    right: 20px;
}

.topArrow i{
    color: var(--WHITE);
}